
.ulp {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(31 142 55);
}

.ulp li {
  float: left;
}

.ulp li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  margin-right: 5px;
}

.ulp li a:hover:not(.activep) {
  background-color: #2b9c08;
}

.activep {
  color: white;
}

